:host{
    --slds-c-card-color-background: lightgrey;
    --lwc-cardColorBackground: lightgrey;

    --sds-c-card-body-spacing-block-start:0;
    --sds-c-card-body-spacing-block: 0;
    --sds-c-card-body-spacing-inline-end: 0;
    --sds-c-card-body-spacing-inline: 0;
    --sds-c-card-body-spacing-block-end: 0;
    --sds-c-card-body-spacing-block: 0;
    --sds-c-card-body-spacing-inline-start: 0;
    --sds-c-card-body-spacing-inline: 0;
    --lwc-varSpacingVerticalSmall: 0;
    --lwc-varSpacingVerticalSmall: 0;
}

.resultsContainer{
    padding: 1rem;
    border-top: 2px solid gray;
}

.errorContainer{
    background-color: rgba(255, 0, 0, 0.15);
    padding: 1rem;
    margin-top: 1rem;
}

.slds-card div{
    background-color: lightgray;
    padding-bottom: .5rem;
    border-bottom: 1px solid gray;
}