.tab-set-all {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    margin-bottom: 30px;
    background-color: rgb(9,105,176);
    padding: 20px;
}

.client-home-tab {
    min-width: 70%;
    border-radius: 20px;
}

.lightning-tabset {
    --sds-c-tabs-list-color-border: black;
    --sds-c-tabs-item-color-border-active: red;
    --sds-c-tabs-item-color-border-hover: green;
    --sds-c-tabs-item-text-color: black;
    --sds-c-tabs-item-text-color-active: green;
  }