.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*padding: 1rem;*/
}

.answerContainer {
    flex: 1;
    height: max-content;
}

.buttonContainer{
    height: min-content;
}

.resultContainer {
    height: min-content;
}